<section class="bg-light bg-round">
  <div class="container py-5">
    <h1 class="mb-4">Купить кондиционер с бесплатной доставкой? Легко</h1>
    <p class="lead mb-5">
      Работаем в городе Николаеве и области, звоните для консультации, поможем
      подобрать наиболее подходящую для Вас модель кондиционера, как по мощности
      так и по бренду.
    </p>
    <ul class="row row-cols-2 row-cols-lg-4">
      <li class="col mb-4">
        <div class="icon-bg">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36 text-success"
            >verified_user</mat-icon
          >
        </div>
        <h3 class="mt-4 mb-3 h4">Гарантия</h3>
        <p>Оригинальная гарантия от производителя от 12 до 24 месяцев.</p>
      </li>
      <li class="col mb-4">
        <div class="icon-bg">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36 text-success"
            >local_shipping</mat-icon
          >
        </div>
        <h3 class="mt-4 mb-3 h4">Доставка</h3>
        <p>Бесплатная доставка кондиционеров по Николаеву</p>
      </li>
      <li class="col mb-4">
        <div class="icon-bg">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36 text-success"
            >delete_sweep</mat-icon
          >
        </div>
        <h4 class="mt-4 mb-3">Оплата</h4>
        <p>Оплата при товаров при получении</p>
      </li>
      <li class="col mb-4">
        <div class="icon-bg">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36 text-success"
            >sell</mat-icon
          >
        </div>
        <h3 class="mt-4 mb-3 h4">Скидка</h3>
        <p>При покупке кондиционера у нас, Вы получите скидку на установку.</p>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="container pb-5">
    <h2 class="mt-5 mb-4">Популярные модели кондиционеров</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col mb-4">
        <mat-card class="product-card">
          <div class="div">
            <img
              mat-card-image
              src="../assets/img/products/cooperandhunter-ch-s09xn7.jpg"
              alt="Купить кондиционер в Николаеве"
              width="350"
              height="230"
              class="img-fluid"
            />
          </div>
          <hr />
          <mat-card-content class="mt-auto">
            <h5 class="pt-2 pb-2" style="font-size: 1.2rem">
              Кондиционер COOPER&HUNTER PRIMA PLUS CH-S09XN7
            </h5>
            <h3 class="text-success">326 <small>$</small></h3>
            <p class="text-secondary">Точную цену уточняйте по телефону</p>
            <hr />
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">local_shipping</mat-icon>
              <p class="text-success mb-0">Бесплатная доставка по Николаеву</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">sell</mat-icon>
              <p class="mb-0">Скидка на установку Кондиционера</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">verified_user</mat-icon>
              <p class="text-success mb-0">Гарантия от производителя</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">shopping_cart</mat-icon>
              <p class="text-success mb-0">Оплата при получении</p>
            </div>
          </mat-card-content>
          <!-- <div class="d-flex justify-content-between">
            <button mat-raised-button>Подробнее</button>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/contacts']"
            >
              Заказать
            </button>
          </div> -->
        </mat-card>
      </div>
      <div class="col mb-4">
        <mat-card class="product-card">
          <div class="div">
            <img
              mat-card-image
              src="../assets/img/products/tcl_tac-09chsd_xab1_ihb_heat_pump_inverter_r32_wi-fi.jpg"
              alt="Купить кондиционер TCL TAC-09CHSD/XAB1 IHB Heat Pump Inverter R32 WI-FI"
              width="350"
              height="230"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="mt-auto">
            <h5 class="pt-2 pb-2" style="font-size: 1.2rem">
              Кондиционер TCL TAC-09CHSD/XAB1 IHB Heat Pump Inverter R32 WI-FI
            </h5>
            <h3 class="text-success">495 <small>$</small></h3>
            <p class="text-secondary">Точную цену уточняйте по телефону</p>
            <hr />
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">local_shipping</mat-icon>
              <p class="text-success mb-0">Бесплатная доставка по Николаеву</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">sell</mat-icon>
              <p class="mb-0">Скидка на установку Кондиционера</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">verified_user</mat-icon>
              <p class="text-success mb-0">Гарантия от производителя</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">shopping_cart</mat-icon>
              <p class="text-success mb-0">Оплата при получении</p>
            </div>
          </mat-card-content>
          <!-- <div class="d-flex justify-content-between">
            <button mat-raised-button>Подробнее</button>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/contacts']"
            >
              Заказать
            </button>
          </div> -->
        </mat-card>
      </div>
      <div class="col mb-4">
        <mat-card class="product-card">
          <div class="div">
            <img
              mat-card-image
              src="../assets/img/products/XA31I_Inverter_R32_WiFi_Ready-500x500.jpg"
              alt="Купить кондиционер TCL TAC-09CHSD/XAB1 IHB Heat Pump Inverter R32 WI-FI"
              width="350"
              height="230"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="mt-auto">
            <h5 class="pt-2 pb-2" style="font-size: 1.2rem">
              Кондиционер TCL TAC-12CHSD/XA31I Inverter R32 WI-FI Ready
            </h5>
            <h3 class="text-success">545 <small>$</small></h3>
            <p class="text-secondary">Точную цену уточняйте по телефону</p>
            <hr />
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">local_shipping</mat-icon>
              <p class="text-success mb-0">Бесплатная доставка по Николаеву</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">sell</mat-icon>
              <p class="mb-0">Скидка на установку Кондиционера</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">verified_user</mat-icon>
              <p class="text-success mb-0">Гарантия от производителя</p>
            </div>
            <div class="d-flex align-items-center mb-2 text-success">
              <mat-icon class="mr-2">shopping_cart</mat-icon>
              <p class="text-success mb-0">Оплата при получении</p>
            </div>
          </mat-card-content>
          <!-- <div class="d-flex justify-content-between">
            <button mat-raised-button>Подробнее</button>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/contacts']"
            >
              Заказать
            </button>
          </div> -->
        </mat-card>
      </div>
    </div>
  </div>
</section>
