<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Профессионал Юг</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [collapse]="isCollapsed">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Главная<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/service']">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
