<div class="bg-light">
  <div class="container">
    <section class="pt-5">
      <h1>Установка кондиционеров</h1>

      <div class="row mt-5">
        <div class="col-xl-4 text-center mb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            verified_user
          </mat-icon>
          <h3><b>Гарантия</b></h3>
          <p>Предоставляем <b>гарантию</b> на выполненные работы</p>
        </div>
        <div class="col-xl-4 text-center mb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            settings
          </mat-icon>
          <h3><b>Технологии</b></h3>
          <p>
            Используем самые <b>современые</b> технологии с соблюдений всех
            правил установки, заявленых производителем
          </p>
        </div>
        <div class="col-xl-4 text-center mb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            query_builder
          </mat-icon>
          <h3><b>Скорость</b></h3>
          <p>Время установки под ключ, занимает от 1.5 до 2 часов</p>
        </div>
        <div class="col-xl-4 text-center mb-4 px-5">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            delete_sweep
          </mat-icon>
          <h3><b>Чистота</b></h3>
          <p>Выполняем <b>уборку</b> строительного муссора, после установки</p>
        </div>
        <div class="col-xl-4 text-center mb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            spellcheck
          </mat-icon>
          <h3><b>Тестирование</b></h3>
          <p>
            Производим тестирование кондиционера во всех режимах с
            использованием спец. оборудывания
          </p>
        </div>
        <div class="col-xl-4 text-center mb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48 mb-4 text-success"
          >
            help_outline
          </mat-icon>
          <h3><b>Консультация</b></h3>
          <p>
            Проводим обучение пользователя, меры предосторожности и
            <b>правила</b> эксплуатации
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
