<div class="bg-light bg-round">
  <div class="container">
    <section class="pt-3 pb-5">
      <div class="d-flex align-items-center">
        <button mat-button [routerLink]="['/service']">Услуги</button
        ><mat-icon aria-hidden="true" class="md-24 text-secondary"
          >keyboard_arrow_right</mat-icon
        ><button mat-button disabled>Установка кондиционеров</button>
      </div>
      <div class="pt-2">
        <h1 class="mb-4">Необходимо установить кондиционер? Звоните</h1>
        <p class="lead mb-5">
          Наша компания оказывает услуги по высококвалифицированной установке
          кондиционеров, в квартирах, частных домах и офисах. Осуществляем весь
          спектр услуг по обслуживанию климатической техники.
        </p>
        <ul class="row row-cols-2 row-cols-lg-4">
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >verified_user</mat-icon
              >
            </div>
            <h3 class="mt-4 mb-3 h4">Гарантия</h3>
            <p class="text-secondary">
              Предоставляем <b>гарантию</b> на выполненные работы
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >query_builder</mat-icon
              >
            </div>
            <h3 class="mt-4 mb-3 h4">Скорость</h3>
            <p class="text-secondary">
              Время установки под ключ, занимает от 1.5 до 2 часов.
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >delete_sweep</mat-icon
              >
            </div>
            <h4 class="mt-4 mb-3">Чистота</h4>
            <p class="text-secondary">
              Выполняем <b>уборку</b> строительного муссора, после монтажа
              кондиционера.
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >settings</mat-icon
              >
            </div>
            <h3 class="mt-4 mb-3 h4">Технологии</h3>
            <p class="text-secondary">
              Используем самые <b>современые</b> технологии с соблюдений всех
              правил установки, заявленых производителем.
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >spellcheck</mat-icon
              >
            </div>
            <h4 class="mt-4 mb-3">Тестирование</h4>
            <p class="text-secondary">
              Производим тестирование кондиционера во всех режимах с
              использованием спец. оборудования.
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >help_outline</mat-icon
              >
            </div>
            <h4 class="mt-4 mb-3">Консультация</h4>
            <p class="text-secondary">
              Проводим обучение пользователя, меры предосторожности и
              <b>правила эксплуатации.</b>
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >credit_card</mat-icon
              >
            </div>
            <h4 class="mt-4 mb-3">Оплата</h4>
            <p class="text-secondary">
              Оплата производится по факту <b>окончания установки</b>, любым
              удобным для Вас способом.
            </p>
          </li>
          <li class="col mb-4">
            <div class="icon-bg">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="md-36 text-primary"
                >local_phone</mat-icon
              >
            </div>
            <h4 class="mt-4 mb-3">Доступность</h4>
            <p class="text-secondary">
              В случае возникновения любых проблем, мы всегда доступны для
              связи.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h2>Как выполняется монтаж кондиционера</h2>
    <p class="lead text-secondary">
      Грамотная установка кондиционера - это комплекс ответственных мероприятий,
      от выбора места установки, прокладки силового кабеля и трубопровода
      хладагента до организации эффективного отвода конденсата.
    </p>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Схема установки">
        <div class="container mt-4">
          <p class="lead">
            Существует ряд распространенных схем установки, они отличаются
            длинной трассы и особенностями размещения наружного и внутреннего
            блока. А также сложностью монтажа и дальнейшим обслуживанием
            кондиционера.
          </p>
          <ul class="row row-cols-1 row-cols-lg-2">
            <li class="col mb-4">
              <mat-card class="h-100">
                <h4>Монтаж под окном</h4>
                <p>
                  Установка наружного блока под окном а внутреннего на
                  перегородке фасадной стены.
                </p>
                <p class="text-secondary">
                  Плюсом такого монтажа, является удобный доступ к оборудованию
                  для техобслуживания а также возможность спрятать трассу в
                  специальные короба.
                </p>
              </mat-card>
            </li>
            <li class="col mb-4">
              <mat-card class="h-100">
                <h4>Монтаж между окнами</h4>
                <p>
                  Установка внутреннего блока на перегородке а наружного - между
                  окнами.
                </p>
                <p class="text-secondary">
                  Плюс такого монтажа, это эстетичный экстерьер здания, минус
                  сложность в обслуживании кондиционера.
                </p>
              </mat-card>
            </li>
            <li class="col mb-4">
              <mat-card class="h-100">
                <h4>Монтаж на фасаде балкона</h4>
                <p>
                  Монтаж уличной блока кондиционера на фасаде балкона,
                  внутреннего - на ближайшей стене.
                </p>
                <p class="text-secondary">
                  Обязательное условия - открывающиеся окна балкона.
                </p>
              </mat-card>
            </li>
            <li class="col mb-4">
              <mat-card class="h-100">
                <h4>Установка на ограждение балкона</h4>
                <p>
                  Установка наружного блока кондиционера производится
                  непосредственно на ограждения балкона, при условии достаточной
                  прочности этого ограждения.
                </p>
              </mat-card>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Список работ и стоимость"
        ><div class="container py-3">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Номер</th>
              <td mat-cell *matCellDef="let element">
                {{ element.position }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Наименование</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table></div
      ></mat-tab>
      <!-- <mat-tab label="Материалы">Материалы</mat-tab> -->
    </mat-tab-group>
  </div>
</section>
<!-- <section>
  <div class="container">
    <h2>Стоимость установки кондиционера</h2>
    <p class="lead">
      Полная стоимость установки зависит от многих факторов. Начиная от мощности
      кондиционера, заканчивая местом установки и длинной трассы.
    </p>
    <div class="row row-cols-1 row-cols-md-2 mt-5">
      <div class="col"><h3>Как узнать стоимость установки?</h3><p>Для того что бы точно посчитать стоимость монтажа кондиционера, необходимо вызвать мастера на дом, для замеров и расчетов.</p></div>
    </div>
  </div>
</section> -->
