.icon-bg {
  background: #e8eaf6;
  border-radius: 16px;
  min-width: 70px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-round {
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 40%;
}

@media (max-width: 765px) {
  .bg-round {
    border-bottom-right-radius: 0;
  }
}
