<section>
  <div class="bg-primary">
    <h1 class="text-center mb-5 display-4 text-white pt-5 pb-5">
      <b>Кондиционеры</b>
    </h1>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Купить кондиционер
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/buy.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <mat-card-content class="text-success">
              <h5>Цену уточняйте</h5>
            </mat-card-content>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Установка кондиционера
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/install.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="text-success">
            <h5>от 800грн</h5>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Профилактика кондиционера
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/clean.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="text-success">
            <h5>от 400грн</h5>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Заправка фреоном
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/freon.jpeg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <mat-card-content class="text-success">
              <h5>от 300грн</h5>
            </mat-card-content>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Ремонт кондиционера
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/repair.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <mat-card-content class="text-success">
              <h5>от 300грн</h5>
            </mat-card-content>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4 mb-4">
        <mat-card>
          <div class="card-head">
            <h5 class="pt-2 pb-3 text-center">
              <i class="material-icons md-24">
                build
              </i>
              Демонтаж кондиционера
            </h5>
          </div>
          <img
            mat-card-image
            src="../assets/img/re-instal.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <mat-card-content class="text-success">
              <h5>от 350грн</h5>
            </mat-card-content>
          </mat-card-content>
          <div class="d-flex justify-content-between">
            <button mat-raised-button class="">
              Подробнее
            </button>
            <button mat-raised-button color="primary" class="">
              Заказать
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
