<section class="container mt-5">
  <h1 class="text-center mb-3">Наши услуги</h1>
  <p class="h5 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem iste temporibus sed
    porro harum pariatur excepturi aliquam nobis quasi amet.</p>
  <h3 class="text-center mt-5 mb-5">Кондиционеры</h3>
  <div class="card-deck">
    <div class="card mb-4">
      <img class="card-img-top" src="assets/img/install.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Установка кондиционера</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/contacts']">Заказать</a>
      </div>
    </div>
    <div class="card mb-4">
      <img class="card-img-top" src="assets/img/clean.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Профилактика кондиционера</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/contacts']">Заказать</a>
      </div>
    </div>
    <div class="card mb-4">
      <img class="card-img-top" src="assets/img/freon.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Заправка фреоном</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/contacts']">Заказать</a>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
