<footer class="bg-dark">
  <div class="container text-white pt-3 pb-2">
    <div class="d-flex justify-content-around flex-wrap">
      <p>Профессионал Юг 2020</p>
      <h5 class="mb-4 mb-md-0">
        <a
          href="mailto:profug8@gmail.com"
          rel="nofollow"
          class="text-white col-12"
          >profug8@gmail.com</a
        >
      </h5>
      <h5 class="mb-4 mb-md-0">
        <a href="tel:+380677682273" rel="nofollow" class="text-white col-12"
          >+38 067 768 22 73</a
        >
      </h5>
      <h5 class="mb-4 mb-md-0">
        <a href="tel:+380638181297" rel="nofollow" class="text-white col-12"
          >+38 063 81 81 297</a
        >
      </h5>
    </div>
  </div>
</footer>
