<footer class="bg-dark">
  <div class="container text-white pt-3 pb-3">
    <div class="d-flex justify-content-around flex-wrap align-items-center">
      <div class="d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="30"
          viewBox="0 0 24 24"
          width="30"
          class="mr-2 d-none d-sm-block"
        >
          <path
            fill="lightgray"
            d="M12 12c0-3 2.5-5.5 5.5-5.5S23 9 23 12H12zm0 0c0 3-2.5 5.5-5.5 5.5S1 15 1 12h11zm0 0c-3 0-5.5-2.5-5.5-5.5S9 1 12 1v11zm0 0c3 0 5.5 2.5 5.5 5.5S15 23 12 23V12z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <p class="navbar-brand mb-0" href="#">Профессионал Юг</p>
      </div>
      <h5 class="mb-4 mb-md-0">
        <a
          href="mailto:profug8@gmail.com"
          rel="nofollow"
          class="text-white col-12"
          >profug8@gmail.com</a
        >
      </h5>
      <h5 class="mb-4 mb-md-0">
        <a href="tel:+380677682273" rel="nofollow" class="text-white col-12"
          >+38 067 768 22 73</a
        >
      </h5>
      <h5 class="mb-4 mb-md-0">
        <a href="tel:+380638181297" rel="nofollow" class="text-white col-12"
          >+38 063 81 81 297</a
        >
      </h5>
    </div>
  </div>
</footer>
