html {
  overflow-y: scroll;
}

.bg-primary {
  background-color: #448aff !important;
}

.bg-secondary {
  background-color: rgb(243, 243, 243);
}

.bg-dark {
  background-color: rgb(56, 56, 56);
}

.bg-light {
  background-color: rgb(247, 249, 250) !important;
}

.bg-white {
  background-color: white;
}

.vh-100 {
  min-height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 78px;
}

.sr-only {
  display: none !important;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 20px !important;
}

.navbar-brand-second {
  font-size: 18px !important;
}

.navbar {
  border-bottom: 1px solid lightgray;
}
