.main-header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.main-header--text {
  padding-top: 20vh;
}

.main-img {
  margin-top: 1vh;
  width: 100%;
  height: auto;
}

.main-btn {
  font-size: 20px;
  padding: 5px 15px;
  font-weight: 400;
}
