<header class="main-header">
  <div class="container vh-100 d-flex align-items-center">
    <div class="d-flex justify-content-between align-items-center flex-wrap col-12">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div class="mt-5">
          <p class="mt-5">Бытовая техника и её обслуживание</p>
          <h1 class="main-logo-text">Профессионал Юг</h1>
          <p class="h4 mt-4">Кондиционеры, бойлера, стиральные машины</p>
          <button
            mat-raised-button
            class="mt-4 main-btn col-12 col-xl-3 col-md-2 col-sm-6"
            [routerLink]="['/service']"
            color="primary"
          >
            Услуги
          </button>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-end mt-5">
        <img
          height="auto"
          width="100%"
          src="/assets/img/cond_main.svg"
          alt=""
        />
      </div>
    </div>
    <!--<img src="../assets/img/repair.png" alt="" class="mx-auto main-img" />-->
  </div>
</header>
<main>
  <section class="pt-5 pb-5">
    <div class="container">
      <h2 class="text-center mt-5 d-none">Примущества</h2>
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
              fill="#4285f4"
              d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z"
            />
          </svg>
          <h4 class="mt-4 mb-3">Гарантия</h4>
          <p>Предоставляем официальную гарантияю на все товары и услуги</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
          >
            <path
              fill="#4285f4"
              d="M11.99 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm3.61 6.34c1.07 0 1.93.86 1.93 1.93 0 1.07-.86 1.93-1.93 1.93-1.07 0-1.93-.86-1.93-1.93-.01-1.07.86-1.93 1.93-1.93zm-6-1.58c1.3 0 2.36 1.06 2.36 2.36 0 1.3-1.06 2.36-2.36 2.36s-2.36-1.06-2.36-2.36c0-1.31 1.05-2.36 2.36-2.36zm0 9.13v3.75c-2.4-.75-4.3-2.6-5.14-4.96 1.05-1.12 3.67-1.69 5.14-1.69.53 0 1.2.08 1.9.22-1.64.87-1.9 2.02-1.9 2.68zM11.99 20c-.27 0-.53-.01-.79-.04v-4.07c0-1.42 2.94-2.13 4.4-2.13 1.07 0 2.92.39 3.84 1.15-1.17 2.97-4.06 5.09-7.45 5.09z"
            />
            <path fill="none" d="M0 0h24v24H0z" />
          </svg>
          <h4 class="mt-4 mb-3">Поддержка</h4>
          <p>Поддержка и консультации всех наших клиентов</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
          >
            <path
              fill="#4285f4"
              d="M12 12c0-3 2.5-5.5 5.5-5.5S23 9 23 12H12zm0 0c0 3-2.5 5.5-5.5 5.5S1 15 1 12h11zm0 0c-3 0-5.5-2.5-5.5-5.5S9 1 12 1v11zm0 0c3 0 5.5 2.5 5.5 5.5S15 23 12 23V12z"
            />
            <path fill="none" d="M0 0h24v24H0z" />
          </svg>
          <h4 class="mt-4 mb-3">Качество</h4>
          <p>Работаем с современными технологиями и проверенными решениями</p>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="container mt-5 pt-5">
    <h1 class="text-center">О нас</h1>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6">
        <h3 class="mb-3">Только профессионалы</h3>
        <p>
          Все сотрудники проходят чательный отбор и подготовку.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_QA_engineers_dg5p.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_house_searching_n8mp.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
      <div class="col-lg-6 mt-3 order-first order-lg-12">
        <h3 class="mb-3">Заботимся о вашем комфорте</h3>
        <p>
          Используем самые инновационные и провереные решения на рынке бытовой
          техники.
        </p>
      </div>
    </div>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6">
        <h3 class="mb-3">Гениальность в деталях</h3>
        <p>
          Проявляем внимание к каждой мелочи.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_building_blocks_n0nc.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
    </div>
  </section>
</main>
<footer class="bg-dark">
  <div class="container text-white pt-3 pb-2">
    <div class="d-flex justify-content-around flex-wrap">
      <p>Профессионал Юг 2020</p>
      <h5>prof-ug8@gmail.com</h5>
      <h5>
        <a href="tel+38 067 81 81 297" class="text-white col-12"
          >+38 067 81 81 297</a
        >
      </h5>
      <h5>
        <a href="tel+380638181297" class="text-white col-12"
          >+38 063 81 81 297</a
        >
      </h5>
    </div>
  </div>
</footer>
