<main>
  <section style="margin-top: -78px" class="bg-light bg-round pb-5">
    <div class="container pt-md-5">
      <div
        class="d-flex justify-content-between align-items-center flex-wrap col-12 mt-auto px-0"
      >
        <div class="col-md-7 d-flex align-items-center pt-md-5 px-0">
          <div class="mt-5 pt-5 mt-md-0 pt-md-0">
            <h1 class="main-logo-text mb-4">
              Продажа, установка, обслуживание
              <span class="text-primary">кондиционеров</span>
            </h1>
            <p class="lead mb-0">
              Полный спектр услуг кондиционирования,
              <br class="d-none d-lg-inline-block" />
              с гарантией на выполненные работы в городе Николаев.
            </p>
            <button
              mat-raised-button
              class="mt-4 main-btn mr-3"
              [routerLink]="['/service']"
              color="primary"
            >
              Посмотреть услуги
            </button>
            <button
              mat-stroked-button
              class="mt-4 main-btn"
              [routerLink]="['/contacts']"
              color="primary"
            >
              Контакты
            </button>
          </div>
        </div>
        <div class="col-md-5 justify-content-end mt-5 mb-5 mb-md-0 px-0">
          <img
            height="auto"
            width="85%"
            src="/assets/img/cond_main.svg"
            alt="Установить кондиционер Николаев"
          />
        </div>
      </div>

      <h2 class="text-center mt-5 d-none">Как работает Профессионал Юг</h2>
      <ol class="row">
        <li class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5 pb-5">
          <div class="icon-bg">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              class="md-36 text-primary"
              >phone_enabled</mat-icon
            >
          </div>
          <h3 class="mt-4 mb-3 h4">Звонок</h3>
          <p>Подберем оптимальную для Вас модель кондиционера.</p>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5 pb-5">
          <div class="icon-bg">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              class="md-36 text-primary"
              >local_shipping</mat-icon
            >
          </div>
          <h3 class="mt-4 mb-3 h4">Доставка</h3>
          <p>Бесплатная доставка по Николаеву.</p>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5 pb-5">
          <div class="icon-bg">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              class="md-36 text-primary"
              >build</mat-icon
            >
          </div>
          <h3 class="mt-4 mb-3 h4">Установка</h3>
          <p>Устанавливаем кондиционер под ключ за 2 часа.</p>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5 pb-5">
          <div class="icon-bg">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              class="md-36 text-primary"
              >credit_card</mat-icon
            >
          </div>
          <h4 class="mt-4 mb-3">Оплата</h4>
          <p>Оплата производится по факту окончания установки.</p>
        </li>
      </ol>

      <div class="row align-items-center mt-5">
        <div class="col-lg-6">
          <h2 class="mb-3">
            Более 15 лет опыта работы с
            <span class="text-primary">кондиционерами </span>
          </h2>
          <p class="lead">
            Наша компания, успешно работает на рынке обслуживания кондиционеров
            в городе Николаев, уже более 15 лет.
          </p>
          <ul class="d-flex flex-wrap mt-3">
            <li class="text-center pr-4">
              <p class="text-primary h2 font-weight-light">1000+</p>
              <p>Установленных <br />кондиционеров</p>
            </li>
            <li class="text-center pr-4">
              <p class="text-primary h2 font-weight-light">1500+</p>
              <p>Профилактик <br />кондиционеров</p>
            </li>
            <li class="text-center pr-4">
              <p class="text-primary h2 font-weight-light">2000+</p>
              <p>Довольных <br />клиентов</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 text-center order-first">
          <img
            src="../assets/img/undraw_QA_engineers_dg5p.svg"
            width="70%"
            height="auto"
            alt=""
          />
        </div>
      </div>
      <!-- <li class="row align-items-center mt-5">
          <div class="col-lg-6 text-center">
            <img
              src="../assets/img/undraw_house_searching_n8mp.svg"
              width="70%"
              height="auto"
              alt=""
            />
          </div>
          <div class="col-lg-6 mt-3 order-first order-lg-12">
            <h3 class="mb-3">Заботимся о вашем комфорте</h3>
            <p>
              Используем самые инновационные и провереные решения на рынке
              бытовой техники.
            </p>
          </div>
        </li> -->
      <!-- <li class="row align-items-center mt-5">
          <div class="col-lg-6">
            <h3 class="mb-3">Гениальность в деталях</h3>
            <p>Проявляем внимание к каждой мелочи.</p>
          </div>
          <div class="col-lg-6 text-center">
            <img
              src="../assets/img/undraw_building_blocks_n0nc.svg"
              width="70%"
              height="auto"
              alt=""
            />
          </div>
        </li> -->
    </div>
  </section>
  <section class="container">
    <h2 class="mt-5 text-center">Что Вам необходимо?</h2>
    <p class="text-secondary lead text-center">
      Выберете наиболее подходящую для Вас услугу и получите полную консультацию
      бесплатно.
    </p>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mt-4">
        <mat-card class="h-100"
          ><h3 class="h4">Купить кондиционер</h3>
          <p class="text-secondary">
            У нас Вы можете купить кондиционер любого бренда с официальной
            гарантией и бесплатной доставкой.
          </p>
          <button
            mat-raised-button
            [routerLink]="['/products']"
            color="primary"
          >
            Товары<mat-icon aria-hidden="false" class="ml-2"
              >arrow_forward</mat-icon
            >
          </button></mat-card
        >
      </div>
      <div class="col mt-4">
        <mat-card class="h-100"
          ><h3 class="h4">Установка кондиционера</h3>
          <p class="text-secondary">
            Монтаж кондиционера любого уровня сложности в Николаеве, с гарантией
            на выполненные работы.
          </p>
          <button
            mat-raised-button
            [routerLink]="['/service/cond-install']"
            color="primary"
          >
            Подробнее<mat-icon aria-hidden="false" class="ml-2"
              >arrow_forward</mat-icon
            >
          </button></mat-card
        >
      </div>
      <div class="col mt-4">
        <mat-card class="h-100"
          ><h3 class="h4">Профилактика кондиционера</h3>
          <p class="text-secondary">
            Чистка кондиционера, удаление грибка с использованием
            профессионального оборудования.
          </p>
          <button
            mat-raised-button
            [routerLink]="['/contacts']"
            color="primary"
          >
            Заказать
          </button></mat-card
        >
      </div>
      <div class="col mt-4">
        <mat-card class="h-100 d-flex flex-column"
          ><h3 class="h4">Другие услуги</h3>
          <p class="text-secondary">
            Ознакомьтесь с полным списком наших услуг.
          </p>
          <div class="mt-auto">
            <button
              mat-stroked-button
              color="primary"
              [routerLink]="['/service']"
            >
              Посмотреть услуги
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </section>

  <section class="mt-5 pb-5 bg-light">
    <div class="container pt-4">
      <h2 class="mt-5">Почему нас выбирают?</h2>
      <p class="lead mb-4">
        Ознакомьтесь с основными преимуществами нашей компании
      </p>
      <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >verified_user</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Надежность</h3>
            <p class="text-secondary">
              Наша компания успешно работает на рынке обслуживания
              кондиционеров<br />
              в городе Николаев уже <b>15 лет</b>.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              За эти годы мы набрались колоссального опыта и готовы его
              применять.
            </p>
          </mat-card>
        </li>

        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >local_grocery_store</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Покупка</h3>
            <p class="text-secondary">
              Купить кондиционер в Николаеве, теперь можно в
              <b>один звонок.</b> Наши консультанты помогут Вам с выбором.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              Больше не нужно переживать за доставку, оплату, и бракованный
              товар - мы позаботимся об этом за Вас.
            </p>
          </mat-card>
        </li>

        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >local_shipping</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Доставка</h3>
            <p class="text-secondary">
              При покупке кондиционера у нас, вы получаете полностью
              <b>бесплатную доставку</b> в подарок.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              Берем на себя полную <b>ответственность</b> за сохранность
              кондиционера во время доставки.
            </p>
          </mat-card>
        </li>

        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >settings</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Установка</h3>
            <p class="text-secondary">
              Установить кондиционер в Николаеве у нас занимает меньше чем 2
              часа времени под ключ.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              Монтаж кондиционера будет произведен с <b>выполнением</b> всех
              гарантийных правил.
            </p>
          </mat-card>
        </li>
        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >spellcheck</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Гарантия</h3>
            <p class="text-secondary">
              Сотрудничаем только с официальными представителями
              <b>крупнейших брендов</b> производителей кондиционеров.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              При покупке у нас, вы получаете полностью
              <b>официальную</b> гарантию на кондиционер от производителя.
            </p>
          </mat-card>
        </li>

        <li class="col mb-4">
          <mat-card class="h-100">
            <div class="d-flex mb-4">
              <div class="icon-bg-second">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  class="md-36 text-success"
                  >monetization_on</mat-icon
                >
              </div>
            </div>
            <h3 class="mb-0 h4 mb-3">Оплата</h3>
            <p class="text-secondary">
              Мы заботимся о спокойствии наших клиентов, по этому принимаем
              платежи <b>после</b> оказания услуги или продажи.
            </p>
            <hr class="d-block d-sm-none d-xl-block" />
            <p class="text-secondary mb-2">
              По факту выполнения услуги, Вам будет предоставлен
              <b>акт</b> выполненных работ.
            </p>
          </mat-card>
        </li>
      </ul>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4">Популярные кондиционеры</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 mx-0">
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/products/cooperandhunter-ch-s09xn7.jpg"
                alt="Купить кондиционер в Николаеве"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Кондиционер Cooper&Hunter PRIMA PLUS CH-S07XN7
              </h5>
              <h3 class="text-success">300 <small>$</small></h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/products/cooperandhunter-ch-s09xn7.jpg"
                alt="Купить кондиционер Кондиционер Cooper&Hunter PRIMA PLUS CH-S09XN7"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Кондиционер Cooper&Hunter PRIMA PLUS CH-S09XN7
              </h5>
              <h3 class="text-success">326 <small>$</small></h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/products/tcl_tac-09chsd_xab1_ihb_heat_pump_inverter_r32_wi-fi.jpg"
                alt="Купить кондиционер TCL TAC-09CHSD/XAB1 IHB Heat Pump Inverter R32 WI-FI"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Кондиционер TCL TAC-07CHSA/XAB1 on-off
              </h5>
              <h3 class="text-success">270 <small>$</small></h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/products/gree GWH12aab-k6dna5a bora.jpg"
                alt="Купить кондиционер GREE Bora Inverter GWH09AAB-K6DNA5A"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Кондиционер GREE Bora Inverter GWH09AAB-K6DNA5A
              </h5>
              <h3 class="text-success">552 <small>$</small></h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/products/OSAKA  ST-07HH.jpg"
                alt="Купить кондиционер OSAKA ST-09HH"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Кондиционер OSAKA ST-09HH Elite
              </h5>
              <h3 class="text-success">290 <small>$</small></h3>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <h2 class="mb-4 mt-4">Популярные услуги</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mx-0">
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/buy.jpg"
                alt="Купить кондиционер в Николаеве"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Консультация и подбор кондиционера
              </h5>
              <h5 class="text-success">Бесплатно</h5>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/install.jpg"
                alt="Установка и монтаж кондиционера в Николаеве"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Монтаж кондиционера
              </h5>
              <h5 class="text-success">от 1200 грн</h5>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/clean.jpg"
                alt="Профилактика кондиционера кондиционера в Николаеве"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Профилактика кондиционера
              </h5>
              <h5 class="text-success">от 450 грн</h5>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col mb-4 px-1">
          <mat-card class="product-card">
            <div class="div">
              <img
                mat-card-image
                src="../assets/img/re-instal.jpg"
                alt="Демонтаж кондиционера Николаев"
                width="350"
                height="230"
                class="img-fluid"
              />
            </div>
            <mat-card-content class="mt-auto">
              <h5 class="pt-2 pb-2" style="font-size: medium">
                Демонтаж кондиционера
              </h5>
              <h5 class="text-success">от 600 грн</h5>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  <section class="container my-5">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-center">
        <div>
          <h2>
            Все наши сотрудники, <br class="d-none d-lg-inline-block" />
            <div class="text-success">специалисты высшего класса</div>
          </h2>
          <p class="text-secondary lead">
            Мы очень тщательно подбираем людей к себе в команду, каждый наш
            сотрудник это мастер с многолетним опытом.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-3">
          <div class="col">
            <img
              class="team-icon"
              src="../assets/img/team/roman.jpg"
              alt="Роман Валерьевич"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2 team-title">Роман</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Главный инженер</p> -->
          </div>
          <div class="col">
            <img
              class="team-icon"
              src="../assets/img/team/sasha.jpg"
              alt="Александр Александрович"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2">Александр</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Старший мастер</p> -->
          </div>
          <div class="col">
            <img
              class="team-icon"
              src="../assets/img/team/youra.jpg"
              alt="Юрий Юрьевич"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2">Юрий</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Глава сервисной группы</p> -->
          </div>
          <div class="col mt-4">
            <img
              class="team-icon"
              src="../assets/img/team/oleg.jpg"
              alt="Олег Николаевич"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2">Олег</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Зам главного инженера</p> -->
          </div>
          <div class="col mt-4">
            <img
              class="team-icon"
              src="../assets/img/team/olegK.jpg"
              alt="Олег"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2">Юрий</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Глава сервисной группы</p> -->
          </div>
          <div class="col mt-4">
            <img
              class="team-icon"
              src="../assets/img/team/alex.jpg"
              alt="Александр Романович"
            />
            <!-- <div class="card-head text-center">
                <h5 class="pt-2 pb-2">Юрий</h5>
              </div>
              <hr />
              <p class="text-center text-secondary">Глава сервисной группы</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light">
    <div class="container py-5">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
          <h2>Официальный поставщик</h2>
          <p class="lead">
            Работаем только с самыми популярными и проверенными брендами
            кондиционеров.
          </p>
          <button
            mat-stroked-button
            color="primary"
            class="main-btn"
            [routerLink]="['/products']"
          >
            Популярные модели
          </button>
        </div>
        <div class="col order-12 order-lg-first">
          <div class="d-flex flex-wrap">
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/ch.svg"
                alt="Кондиционер Cooper Hunter купить в Николаеве"
                style="width: 80%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/lg.svg"
                alt="Кондиционер LG купить в Николаеве"
                style="width: 60%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/gree.svg"
                alt="Кондиционер Gree купить в Николаеве"
                style="width: 60%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/samsung.svg"
                alt="Кондиционер Samsung купить в Николаеве"
                style="width: 60%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/daikin.svg"
                alt="Кондиционер Daikin купить в Николаеве"
                style="width: 60%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/tcl.svg"
                alt="Кондиционер TCL купить в Николаеве"
                style="width: 50%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/mitsu.svg"
                alt="Кондиционер Mitsubishi купить в Николаеве"
                style="width: 50%; height: auto"
                class="main-brands-logo"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 col-sm-3 col-6 pt-4 pb-4 text-center d-flex align-items-center justify-content-center"
            >
              <img
                src="../assets/img/brand_logo/midea.svg"
                alt="Кондиционер Midea купить в Николаеве"
                style="width: 50%; height: auto"
                class="main-brands-logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
