<header>
  <div class="container vh-100 d-flex align-items-center flex-wrap">
    <div
      class="d-flex justify-content-between align-items-center flex-wrap col-12"
    >
      <div class="col-12 col-md-7 d-flex align-items-center">
        <div class="mt-5 pt-5 mt-md-0 pt-md-0">
          <h1 class="main-logo-text mb-4">Продажа, Установка, Обслуживание</h1>
          <h5 class="text-secondary">в городе Николаев</h5>
          <p class="h4 mt-4">Кондиционеры | Бойлера | Стиральные машины</p>
          <button
            mat-raised-button
            class="mt-4 main-btn col-12 col-xl-3 col-md-3 col-sm-6"
            [routerLink]="['/service']"
            color="primary"
          >
            Услуги
          </button>
        </div>
      </div>
      <div class="col col-md-5 justify-content-end mt-5 mb-5 mb-md-0">
        <img
          height="auto"
          width="100%"
          src="/assets/img/cond_main.svg"
          alt="Установить кондиционер Николаев"
        />
      </div>
    </div>
    <a class="mouse-btn d-none d-md-block" href="#second"
      ><svg
        width="38"
        height="55"
        viewBox="0 0 38 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.5"
          y="1.5"
          width="35"
          height="52"
          rx="17.5"
          stroke="#58555D"
          stroke-width="3"
        />
        <line
          x1="19.5"
          y1="10.5"
          x2="19.5"
          y2="20.5"
          stroke="#58555D"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </a>
  </div>
</header>
<main>
  <section class="pt-4 pb-4 bg-primary text-white" id="second">
    <div class="container">
      <h2 class="text-center mt-5">Как работает Профессионал Юг</h2>
      <div class="row text-center">
        <div class="col-lg-3 col-md-4 col-sm-12 pt-5 pb-5">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48"
            >phone_enabled</mat-icon
          >
          <h4 class="mt-4 mb-3">Звонок</h4>
          <p>Подберем оптимальную для Вас модель кондицинера</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 pt-5 pb-5">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48"
            >local_shipping</mat-icon
          >
          <h4 class="mt-4 mb-3">Доставка</h4>
          <p>Бесплатная доставка по Николаеву</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 pt-5 pb-5">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48"
            >build</mat-icon
          >
          <h4 class="mt-4 mb-3">Установка</h4>
          <p>Устанавливаем кондиционер под ключ за 2 часа</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 pt-5 pb-5">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-48"
            >credit_card</mat-icon
          >
          <h4 class="mt-4 mb-3">Оплата</h4>
          <p>Оплата производится по факту окончания установки</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-5 pt-5">
    <h1 class="text-center">О нас</h1>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6">
        <h3 class="mb-3">Только профессионалы</h3>
        <p>
          Все сотрудники проходят чательный отбор и подготовку.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_QA_engineers_dg5p.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_house_searching_n8mp.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
      <div class="col-lg-6 mt-3 order-first order-lg-12">
        <h3 class="mb-3">Заботимся о вашем комфорте</h3>
        <p>
          Используем самые инновационные и провереные решения на рынке бытовой
          техники.
        </p>
      </div>
    </div>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6">
        <h3 class="mb-3">Гениальность в деталях</h3>
        <p>
          Проявляем внимание к каждой мелочи.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img
          src="../assets/img/undraw_building_blocks_n0nc.svg"
          width="70%"
          height="auto"
          alt=""
        />
      </div>
    </div>
  </section>
  <section>
    <carousel
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="!noWrap"
      [interval]="false"
      [startFromIndex]="5"
      (slideRangeChange)="onSlideRangeChange($event)"
    >
      <slide *ngFor="let slide of slides; let index = index">
        <img
          [src]="slide.image"
          alt="image slide"
          style="display: block; width: 100%;"
        />
      </slide>
    </carousel>
  </section>
  <section class="mt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 pt-4 pb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36  mr-2"
            >verified_user</mat-icon
          >
          <h4 class="mt-3 mb-3">Надежность</h4>
          <p>
            Наша компания успешно работает на рынке обслуживания
            кондиционеров<br />
            в городе Николаев уже <b>15 лет</b>.
          </p>
          <hr class="d-block d-sm-none d-xl-block" />
          <p>
            За эти годы мы набрались коллосального опыта и его применять.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pt-4 pb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36  mr-2"
            >spellcheck</mat-icon
          >
          <h4 class="mt-3 mb-3">
            Гарантия
          </h4>
          <p>
            Сотрудничаем только с официальными представителями
            <b>крупнейших брендов</b> производителей кондиционеров.
          </p>
          <hr class="d-block d-sm-none d-xl-block" />
          <p>
            При покупке у нас, вы получаете полностью
            <b>официальную</b> гарантию на кондиционер от производителя.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pt-4 pb-4">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="md-36  mr-2"
            >local_shipping</mat-icon
          >
          <h4 class="mt-3 mb-3">Доставка</h4>
          <p>
            При покупке кондиционера у нас, вы получаете полностью
            <b>бесплатную доставку</b> в подарок.
          </p>
          <hr class="d-block d-sm-none d-xl-block" />
          <p>
            Берем на себя полную <b>ответственность</b> за сохранность
            кондиционера во время доставки.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="bg-dark">
  <div class="container text-white pt-3 pb-2">
    <div class="d-flex justify-content-around flex-wrap">
      <p>Профессионал Юг 2020</p>
      <h5>prof-ug8@gmail.com</h5>
      <h5>
        <a href="tel+380677682273" class="text-white col-12"
          >+38 067 768 22 73</a
        >
      </h5>
      <h5>
        <a href="tel+380638181297" class="text-white col-12"
          >+38 063 81 81 297</a
        >
      </h5>
    </div>
  </div>
</footer>
