.bg-primary {
  background-color: #4285f4 !important;
}

.main-header {
background-image: url(/assets/img/bag.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 200px;
padding-bottom: 200px;
}

